/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */
.one{
    position: relative;
}
#oneA{
    position: absolute;
    bottom: 60px;
    left:10px;

}
#oneB{
    position: absolute;
    bottom: 10px;
    left:10px;

}
.two{
    display:flex;
    justify-content: space-between;
}


#threeA{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    flex-basis:300px;

}
.three{

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fourTotal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.five{
    display:flex;
    justify-content: space-around;
    padding:1em;

}
.fiveWrap{
    display:flex;
    flex-wrap: wrap;
    padding:1em;

}
.item{

    flex-grow:1;
    flex-shrink: 0;
    flex-basis:300px;

}